body {
    background-color: white;
}
header{
    max-width: 100%;
}

.parallax {
    min-height: 650px;
    max-width: 100%;
    background-image: url("../images/41608617_10217440879636708_6611309494502686720_o.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position:  50% 50%;
    margin-bottom: 50px;
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    margin: 0;
    color: navy;
}
.heading{
    background-color: white;
    opacity: .7;
    margin: 50px 0;
    padding-left: 50px;
}
.lead{
    color: darkred;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    
}
#about{
    min-height: 700px;
    margin-bottom: 50px;
    background-color: #FFE4E1;
    font-family: 'Raleway', sans-serif;

}
.separator{
    min-height: 100px;
}
.pic{
    max-width: 300px;
    max-height: auto;
    float: right;
}
section{
    margin: 0 auto;
}
.card-img-top{
    max-width: 100%;
    max-height: 300px;
}
.card-text{
    background-color: #FFE4E1;
    color: black;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    text-align: center;
}
.card-img-overlay{
    padding:  15px 0;
}
.d-flex{
    padding: 2px;
}
#portfolio{
    min-height: 600px;
    background-color: #D3D3D3;

}
