body {
    background-color: white;
}
header{
    max-width: 100%;
}

.parallax {
    min-height: 650px;
    max-width: 100%;
    background-image: url("../images/41608617_10217440879636708_6611309494502686720_o.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position:  50% 50%;
}
h1 {
    mix-blend-mode: difference;
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    margin: 0;
    color: #CD5C5C;
}
.about {
    min-height: 600px;
}
.pic{
    max-width: 300px;
    max-height: auto;
    float: right;
}
section{
    max-width: 960px;
    margin: 0 auto;
}
